html {
    scroll-behavior: smooth;

}

body {
    position: relative;
    font-family: 'Nunito', sans-serif;
}

.navbar {
    text-transform: uppercase;
}

.navbar-nav {
    /* background: rgba(194, 198, 194, 0.5); */
    align-items: flex-end;
    padding-right: 30px;
}

section {
    margin: 70px 0px;
}

.head {
    margin-top: -260px;
    background-image: url(../imej/head.png);
    background-size: cover;
    background-position: center;
    height: 140vh;

}

.isiHead {
    margin-top: 250px
}

.isiHead h1 {
    margin-top: 50px;
    font-size: 5rem;
}

/* ------------------------------------------------------------------------------------------------------------------------ */


.about {
    background-size: cover;
    background-position: center;
    background-image: url(../imej/body.png);
    height: 100%;
    padding-bottom: 30px;
}

.about h1 {
    margin-top: 30px;
    font-weight: 700;
}

.isiAbout {
    width: 100%;
    padding: 10px 20px;
    background: rgba(145, 142, 142, .7);
    -webkit-box-shadow: 6px 17px 18px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 6px 17px 18px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 6px 17px 18px 4px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
}

/* ------------------------------------------------------------------------------------------------------------------------ */


.moment {
    background: url(../imej/moment.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.moment::after {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}


/* ------------------------------------------------------------------------------------------------------------------------ */
.team {
    height: 100%;
    background: #F08519;
}

.team h1 {
    font-weight: 700;
}

.profil {
    height: 160px;
    line-height: 15px;
    padding-top: 15px;
}

.profil p {
    color: white;
    font-weight: 700;
    font-size: 1.7rem;
    text-shadow: 1px 2px 2px black;
}

.icon-ig {
    height: 30px;
}


.cont-lg,
.cont-md,
.cont-sm {
    margin: 10px 0px;
    height: 400px;
    width: 350px;
    background-image: url(../imej/bg-lg.png);
    background-size: cover;
}


.foto-profil-lg,
.foto-profil-md,
.foto-profil-sm {
    height: 220px;
    margin-top: 15px;
}

footer {
    height: 10vh;
    padding: 5px 0px;
}

footer p {
    font-weight: 700;
    font-size: .8rem;
}

.icon-footer {
    height: 30px;

}

@media (min-width: 992px) {

    nav {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .navbar {
        background: none;
    }

    .nav-item.active {
        font-weight: 800;
    }

    .navbar-nav {
        margin-left: none;
        background: none;
        padding-right: none;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 2px solid white;
        width: 60%;
        margin: auto;
    }

    .navbar-nav li {
        margin: 0px 30px;
    }

    section {
        margin: 100px 0px;
    }

    .head {
        margin-top: -95px;
        height: 100vh;
        background-image: url(../imej/head.png);
        background-size: cover;
    }

    .isiHead {
        margin-top: 180px
    }

    .isiHead h1 {
        font-size: 5rem;
    }

    .about {
        background-size: cover;
        background-image: url(../imej/body.png);
        height: 100vh;
    }


    .about h1 {
        margin-top: 70px;
        font-weight: 700;
    }

    .isiAbout {
        font-size: 1.1rem;
        padding: 20px 30px;
        background: rgba(145, 142, 142, .7);
        -webkit-box-shadow: 6px 17px 18px 4px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 6px 17px 18px 4px rgba(0, 0, 0, 0.4);
        box-shadow: 6px 17px 18px 4px rgba(0, 0, 0, 0.4);
    }

    .moment {
        height: 100vh;
        background: url(../imej/moment.png);
        background-size: cover;
    }

    .team {
        height: 100vh;
        background: #F08519;
    }

    .team h1 {
        font-weight: 700;
    }

    .profil {
        height: 100px;
        line-height: .5px;
        padding-top: 20px;
    }

    .profil p {
        color: white;
        font-weight: 700;
        font-size: 1rem;
        text-shadow: 1px 3px 3px black;
    }

    .icon-ig {
        height: 20px;
    }

    .foto-profil-md {
        height: 120px;
        margin-top: 20px;
    }

    .foto-profil-lg {
        height: 130px;
        margin-top: 15px;

    }

    .foto-profil-sm {
        height: 90px;
        margin-top: 22px;
    }

    .cont-md {
        height: 240px;
        width: 190px;
        background-image: url(../imej/bg-md.png);
        background-size: cover;
        margin: 0px 0px;

    }

    .cont-lg {
        height: 280px;
        width: 230px;
        background-image: url(../imej/bg-lg.png);
        background-size: cover;
        margin: 0px 0px;
    }

    .cont-sm {
        height: 210px;
        width: 190px;
        background-image: url(../imej/bg-lg.png);
        background-size: cover;
        margin: 0px 0px;

    }

    footer {
        height: 10vh;
        padding: 5px 0px;
    }

    footer p {
        font-weight: 700;
        font-size: 1.1rem;
    }

    .icon-footer {
        height: 40px;

    }
}